.component-display {
    background-color: #858694;
    color: white;
    text-align: right;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;
    height: 25vh;
    min-height: 11.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.component-display > div {
    font-size: 11.5vw;
    padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}
